.login-content {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(249, 249, 249, 1);
}
.bg-box {
    position: fixed;
    left: 0px;
    top: 50%;
    margin-top: -110px;
    width: 100%;
    height: 220px;
    overflow: hidden;

    .bg-img {
        position: absolute;
        left: 0px;
        top: 0px;
        width: 100%;
        height: 220px;
        background-color: #3292E0;
        background-position: right top;
        background-repeat: no-repeat;
    }
}

.login-form {
    position: absolute;
    left: 50%;
    top: 50%;
    width: 350px;
    height: 420px;
    margin-top: -210px;
    margin-left: -175px;
    background: inherit;
    background-color: rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.349019607843137);
    border-top: 10px solid #3292E0;
    padding: 25px;
}

.logo {
    display: block;
    width: 60px;
    height: 60px;
    margin: 0 auto;
}

.logo-title {
    height: 47px;
    line-height: 47px;
    font-size: 24px;
    font-weight: 700;
    color: #3292E0;
    text-align: center;
}

input, button {
    height: 49px;
}

.copyright {
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 12px;
    color: #CCCCCC;
    text-align: center;
    padding: 15px;
}