<div class="login-content">
    <div class="bg-box">
        <div class="bg-img" style="background-image: url(./assets/images/login_bg.png);">

        </div>
    </div>
    <form class="form-horizontal login-form" [formGroup]="loginForm" novalidate (ngSubmit)="doLogin(loginForm.value, loginForm.valid)">
        <img src="./assets/images/angular.svg" class="logo">
        <div class="logo-title">
            Angular 管理系统
        </div>
        <div class="form-group margin-top-10 margin-bottom-25">
            <div class="col-sm-12">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="mdi mdi-account-outline"></i>
                    </div>
                    <input formControlName="username" type="text" maxlength="50" class="form-control" placeholder="用户名/手机号">
                </div>
            </div>
        </div>
        <div class="form-group margin-bottom-25">
            <div class="col-sm-12">
                <div class="input-group">
                    <div class="input-group-addon">
                        <i class="mdi mdi-lock-outline"></i>
                    </div>
                    <input formControlName="password" type="password" maxlength="16" class="form-control" placeholder="密码">
                </div>
            </div>
        </div>

        <div class="form-group" style="margin-bottom: 15px;">
            <div class="col-sm-12">
                <button type="submit" class="btn btn-primary btn-block">登 陆</button>
            </div>
        </div>
    </form>
</div>

<div class="copyright">
    <p>Copyright © https://mzl1988.github.io, All Rights Reserved.</p>
    <p>Email : 634390243@qq.com QQ: 634390243</p>
</div>
