.page-header {
    background-color: #3292E0;
    position: fixed;
    z-index: 904;
    height: 60px;
    width: 100%;
    min-width: 750px;
    margin: 0;
    border: 0;
    padding: 0 16px 0 0;
}

.navbar-brand {
    display: flex;
    display: -webkit-flex;
    align-items: center;
    height: 60px;
    font-size: 25px;
    padding: 0 15px;
    color: #ffffff;
}

.logo {
    display: block;
    width: 45px;
    height: 45px;
    margin-right: 10px;
}

.navbar-right {
    float: right !important;
    margin-right: -15px;
}

.page-header .nav>li {
    position: relative;
    display: block;
    height: 60px;
    line-height: 26px;
    float: left;
}

.page-header .navbar-nav {
    margin: 0;
}

.page-header .navbar-nav>li {
    outline: none;
}

.page-header .navbar-nav>li>a {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
    height: 60px;
    line-height: 30px;
    color: #ffffff;
    &:hover {
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.4);
        cursor: pointer;
    }
    &:focus {
        color: #ffffff;
        background-color: rgba(255, 255, 255, 0.4);
    }
}

.navbar-nav>li:hover .dropdown-menu {
    display: block;
}

.page-header .navbar-nav>li.active {
    background-color: rgba(255, 255, 255, 0.4);
}

.page-header li.profile {
    opacity: 1 !important;
}

.page-header li.profile>a {
    line-height: 60px !important;
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.page-header li.profile img {
    height: 35px;
    width: 35px;
    top: -1px;
    right: 10px;
    position: relative;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
}

.profile > .dropdown-menu {
    width: 100%;
}
