<div class="page-header noselect">
    <div class="navbar-brand">
        <img class="logo" src="./assets/images/angular.svg">
        Angular 管理系统
    </div>
    <ul class="nav navbar-nav navbar-right">
        <li>
            <a>
                <i class="fa fa-envelope"></i>
                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
            </a>
        </li>


        <li class="profile">
            <a>
                <img src="./assets/images/5.png" alt="user-image" class="img-circle img-inline">
                <span>
                    张Sir
                    <i class="fa fa-angle-down"></i>
                </span>
            </a>
            <ul class="dropdown-menu dropdown-menu-right">
                <li><a><i class="fa fa-question-circle"></i> 修改密码</a></li>
                <!-- <li><a (click)="userManual()"><i class="fa fa-question-circle"></i> 用户手册</a></li> -->
                <li><a><i class="fa fa-info-circle"></i> 关于</a></li>
                <li class="divider"></li>
                <li><a (click)="logout()"><i class="fa fa-lock"></i> 登出</a></li>
            </ul>
        </li>
    </ul>
</div>
