<div class="page-content">
    <div class="row page-titles">
        <div class="col-md-12 align-self-center">
            <ol class="breadcrumb">
                <li class="breadcrumb-item active">年度香洲派出所概览</li>
            </ol>
        </div>
    </div>
    <!-- 成绩 -->
    <div class="row card-box">
        <div class="col-sm-6 col-md-2">
            <div class="card bg-light-1">
                <div class="card-info">
                    <span class="score">0</span>
                    <span class="score-name">待上传成绩</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="card bg-light-2">
                <div class="card-info">
                    <span class="score">0</span>
                    <span class="score-name">待审核成绩</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="card bg-light-3">
                <div class="card-info">
                    <span class="score">6</span>
                    <span class="score-name">已发布训练/考核数</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="card bg-light-4">
                <div class="card-info">
                    <span class="score">5</span>
                    <span class="score-name">已发布试题数</span>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-md-2">
            <div class="card bg-light-5">
                <div class="card-info">
                    <span class="score">2,500</span>
                    <span class="score-name">部门人数</span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <!-- 3+X考核情况 -->
        <div class="col-sm-12 col-md-8">
            <div class="panel panel-default">
                <div class="panel-heading bg-white border-bottom-0 font-size-16">
                    3+X考核情况
                </div>
                <div class="panel-body position-relative" style="height: 220px">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>#</th>
                                <th>已考</th>
                                <th>部分已考</th>
                                <th>未考</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>基本体能</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>基本武器操作使用</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>基本综合知识</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                            <tr>
                                <td>X科</td>
                                <td>-</td>
                                <td>-</td>
                                <td>-</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- 科所队3+X成绩排名 -->
        <div class="col-sm-12 col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading bg-white border-bottom-0 font-size-16">
                    科所队3+X成绩排名
                </div>
                <div class="panel-body position-relative" style="height: 220px">
                    <table class="table table-hover ranking-table">
                        <tbody>
                            <tr>
                                <td>
                                    <img src="./assets/images/gold.svg">
                                </td>
                                <td>香洲派出所支队</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="./assets/images/silver.svg">
                                </td>
                                <td>柠溪派出所支队</td>
                            </tr>
                            <tr>
                                <td>
                                    <img src="./assets/images/copper.svg">
                                </td>
                                <td>斗门派出所支队</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <!-- 快捷入口 -->
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading bg-white border-bottom-0 font-size-16">
                    快捷入口
                </div>
                <div class="panel-body">
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <div class="link-item">
                            <span class="mdi mdi-timetable"></span>
                            <span class="link-name">创建组训任务</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <div class="link-item">
                            <span class="mdi mdi-upload"></span>
                            <span class="link-name">成绩上传</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <div class="link-item">
                            <span class="mdi mdi-scale-balance"></span>
                            <span class="link-name">单位成绩对比</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <div class="link-item">
                            <span class="mdi mdi-numeric-3-box"></span>
                            <span class="link-name">3+X体系</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <div class="link-item">
                            <span class="mdi mdi-television-guide"></span>
                            <span class="link-name">题库建设</span>
                        </div>
                    </div>
                    <div class="col-xs-6 col-sm-2 col-md-2">
                        <div class="link-item">
                            <span class="mdi mdi-cloud-upload"></span>
                            <span class="link-name">上传视频</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
