/* You can add global styles to this file, and also import other style files */


/*-----------------------------------------------------------
    bootstrap
----------------------------------------------------------*/

$icon-font-path: "assets/bootstrap-sass-3.3.7/fonts/bootstrap/";
@import "assets/bootstrap-sass-3.3.7/stylesheets/bootstrap";

/*-----------------------------------------------------------
    font-awesome
----------------------------------------------------------*/

@import "assets/font-awesome-4.7.0/css/font-awesome.min.css";

/*-----------------------------------------------------------
    materialdesignicons
----------------------------------------------------------*/

@import "assets/materialdesignicons-1.9.32/css/materialdesignicons.min.css";

/*-----------------------------------------------------------
    ionicons
----------------------------------------------------------*/

@import "assets/ionicons-2.0.1/css/ionicons.min.css";

/*-----------------------------------------------------------
    pretty-checkbox
----------------------------------------------------------*/

@import "assets/pretty-checkbox-2.2.1/pretty.scss";

/*-----------------------------------------------------------
    jquery-confirm
----------------------------------------------------------*/

@import "../node_modules/jquery-confirm/dist/jquery-confirm.min.css";

/*-----------------------------------------------------------
    preloader
----------------------------------------------------------*/

@import "assets/scss/preloader";

/*-----------------------------------------------------------
    bootstrap
----------------------------------------------------------*/

@import "assets/scss/bootstrap";

/*-----------------------------------------------------------
    ng-select
----------------------------------------------------------*/

@import "assets/scss/ng-select";

/*-----------------------------------------------------------
    jsmind
----------------------------------------------------------*/

@import "assets/jsmind/style/jsmind.css";

/*-----------------------------------------------------------
    全局样式写在这里
----------------------------------------------------------*/

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
    font-size: 14px;
    font-weight: 400;
    background-color: #f1f2f3;
    overflow: hidden;
}


/*滚动条样式*/

// ::-webkit-scrollbar {
//     width: 10px!important;
//     height: 10px!important;
//     -webkit-appearance: none;
// }

// ::-webkit-scrollbar-thumb {
//     height: 5px;
//     border: 1px solid transparent;
//     border-top: none;
//     border-bottom: none;
//     -webkit-border-radius: 6px;
//     background-color: rgba(0, 0, 0, .3);
//     background-clip: padding-box;
// }

@for $size from 0 through 30 {
    @each $position in top,
    left,
    right,
    bottom {
        .margin-#{$position}-#{$size} {
            margin-#{$position}: 1px * $size !important;
        }
        .padding-#{$position}-#{$size} {
            padding-#{$position}: 1px * $size !important;
        }
    }
    .margin-#{$size} {
        margin: 1px * $size !important;
    }
    .padding-#{$size} {
        padding: 1px * $size !important;
    }
    .font-size-#{$size} {
        font-size: 1px * $size !important;
    }
}

@each $weight in '100', 200, 300, 400, 500, 600, 700, 800, 900 {
    .font-weight-#{$weight} {
        font-weight: $weight !important;
    }
}

a:focus,
input:focus,
button:focus {
    outline: 0 !important;
}

.text-overflow-ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.page-content {
    padding: 25px;
}

.has-pagination {
    background-color: #ffffff;
    .pagination {
        margin: 0;
    }
}

.ng-valid[required],
.ng-valid.required {
    border-left: 5px solid #5cb85c;
    /* green */
}

.ng-invalid:not(form) {
    border-left: 5px solid #d9534f;
    /* red */
}

.position-relative {
    position: relative;
}


/*******************
背景 color
*******************/

.bg-white {
    background: #ffffff !important;
}


/*******************
边线
*******************/

.border-left-0 {
    border-left: 0;
}

.border-right-0 {
    border-right: 0;
}

.border-top-0 {
    border-top: 0;
}

.border-bottom-0 {
    border-bottom: 0;
}


/*******************
Notify
*******************/

.notify {
    position: relative;
    top: -15px;
    right: -8px;
}

.notify .heartbit {
    position: absolute;
    top: -20px;
    right: -4px;
    height: 25px;
    width: 25px;
    z-index: 10;
    border: 5px solid #f62d51;
    border-radius: 70px;
    -moz-animation: heartbit 1s ease-out;
    -moz-animation-iteration-count: infinite;
    -o-animation: heartbit 1s ease-out;
    -o-animation-iteration-count: infinite;
    -webkit-animation: heartbit 1s ease-out;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite;
}

.notify .point {
    width: 6px;
    height: 6px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    border-radius: 30px;
    background-color: #f62d51;
    position: absolute;
    right: 6px;
    top: -10px;
}

@-moz-keyframes heartbit {
    0% {
        -moz-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -moz-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -moz-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -moz-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -moz-transform: scale(1);
        opacity: 0.0;
    }
}

@-webkit-keyframes heartbit {
    0% {
        -webkit-transform: scale(0);
        opacity: 0.0;
    }
    25% {
        -webkit-transform: scale(0.1);
        opacity: 0.1;
    }
    50% {
        -webkit-transform: scale(0.5);
        opacity: 0.3;
    }
    75% {
        -webkit-transform: scale(0.8);
        opacity: 0.5;
    }
    100% {
        -webkit-transform: scale(1);
        opacity: 0.0;
    }
}


/*******************
pdf 内容居中
*******************/

.ng2-pdf-viewer-container .page {
    text-align: center;
}


/*******************
禁止选中文本
*******************/

.noselect {
    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Chrome/Safari/Opera */
    -khtml-user-select: none;
    /* Konqueror */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Internet Explorer/Edge */
    user-select: none;
    /* Non-prefixed version, currently
    not supported by any browser */
}


/*******************
breadcrumb
*******************/

.page-titles {
    margin-top: 5px;
    margin-bottom: 30px;
    padding: 0;
}

.page-titles h3 {
    margin-bottom: 0px;
    margin-top: 0px;
}

.page-titles .breadcrumb {
    padding: 0px;
    margin-bottom: 0px;
    background: transparent;
    font-size: 16px;
}

.page-titles .breadcrumb li {
    margin-top: 0px;
    margin-bottom: 0px;
}

.page-titles .breadcrumb li:first-child {
    border-left: 3px solid #3292E0;
    padding-left: 10px;
}

.page-titles .breadcrumb .breadcrumb-item+.breadcrumb-item::before {
    font-family: themify;
    font-size: 11px;
}

.page-titles .breadcrumb a {
    color: #666666;
}

.page-titles .breadcrumb>.active {
    color: #3292E0;
}


/*******************
jmnode
*******************/

jmnode div {
    margin: -10px;
    padding: 10px;
}

.panel-search-heading {
    position: relative;
    line-height: 34px;
}

.btn-search-group {
    position: absolute;
    right: 15px;
}


/*******************
divider
*******************/

.divider {
    height: 1px;
    overflow: hidden;
    background-color: #eee;
}

.divider-dotted {
    height: 1px;
    border-top: 1px dotted #eee;
    overflow: hidden;
}

/*******************
字体颜色
*******************/

.text-danger {
    color: #ff0000 !important;
}

/*******************
search-form
*******************/

.search-form label {
    width: 70px;
}

.search-form .form-control {
    display: inline-block;
    width: 200px;
    padding: 6px 14px;
    border-radius: 0;
    box-shadow: none;
    border: 1px solid #dde6e9;
}

.search-form ng-select {
    width: 200px;
}

/*******************
pretty-checkbox
*******************/
.pretty.primary input:checked + label i:before {
    background-color: #3292E0 !important;
}


