.page-sidebar {
    width: 240px;
    top: 60px;
    left: 0;
    z-index: 1001;
    display: block;
    min-height: 100%;
    background-color: #ffffff;
    border-right: 1px solid #eee;
    height: 100%;
    position: fixed;
}

.sidebar-menu {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

.sidebar-menu>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu>li>a {
    padding: 15px;
    display: block;
}

.sidebar-menu>li>a.on {
    background: #F4F4F4;
}

.sidebar-menu>li>a>.mdi {
    font-size: 20px;
    color: #3292E0;
    width: 20px;
    margin-right: 10px;
}

.sidebar-menu>li.active>a:hover,
.sidebar-menu>li>a:hover {
    background: #F6F6F6;
}

.sidebar-menu>li.active>a {
    background: #ffffff;
}

.sidebar-menu>li .label,
.sidebar-menu>li .badge {
    margin-top: 3px;
    margin-right: 5px;
}

.sidebar-menu li.sidebar-header {
    padding: 10px 25px 10px 15px;
    font-size: 12px;
    color: #4b646f;
    background: #FCFCFC;
}

.sidebar-menu li>a>.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 7px;
}

.sidebar-menu li.active>a>.fa-angle-left {
    transform: rotate(-90deg);
}

.sidebar-menu li.active>.sidebar-submenu {
    display: block;
}

.sidebar-menu a {
    font-size: 15px;
    color: #6C7177;
    text-decoration: none;
}

.sidebar-menu .sidebar-submenu {
    display: none;
    list-style: none;
    padding-left: 0;
    margin: 0 1px;
    background: #FCFCFC;
}

.sidebar-menu .sidebar-submenu .sidebar-submenu {
    padding-left: 20px;
}

.sidebar-menu .sidebar-submenu>li>a {
    padding: 15px 15px 15px 60px;
    display: block;
}
.sidebar-menu .sidebar-submenu>li>a.on {
    background: #F4F4F4;
}
.sidebar-menu .sidebar-submenu>li>a>.fa {
    width: 20px;
}

.sidebar-menu .sidebar-submenu>li>a>.fa-angle-left,
.sidebar-menu .sidebar-submenu>li>a>.fa-angle-down {
    width: auto;
}

.sidebar-menu .sidebar-submenu>li.active>a,
.sidebar-menu .sidebar-submenu>li>a:hover {
    background: #F4F4F4;
}

.sidebar-menu-rtl {
    list-style: none;
    margin: 0;
    padding: 0;
    background-color: #FCFCFC;
}

.sidebar-menu-rtl>li {
    position: relative;
    margin: 0;
    padding: 0;
}

.sidebar-menu-rtl>li>a {
    padding: 12px 15px 12px 5px;
    display: block;
}

.sidebar-menu-rtl>li>a>.fa {
    width: 20px;
}

.sidebar-menu-rtl>li:hover>a,
.sidebar-menu-rtl>li.active>a {
    background: #F4F4F4;
}

.sidebar-menu-rtl>li .label,
.sidebar-menu-rtl>li .badge {
    margin-top: 3px;
    margin-right: 5px;
}

.sidebar-menu-rtl li.sidebar-header {
    padding: 10px 15px 10px 25px;
    font-size: 12px;
    color: #4b646f;
    background: #383e4b;
}

.sidebar-menu-rtl li>a>.fa-angle-left {
    width: auto;
    height: auto;
    padding: 0;
    margin-right: 10px;
    margin-top: 3px;
}

.sidebar-menu-rtl li.active>a>.fa-angle-left {
    transform: rotate(-90deg);
}

.sidebar-menu-rtl li.active>.sidebar-submenu {
    display: block;
}

.sidebar-menu-rtl a {
    text-decoration: none;
}

.sidebar-menu-rtl .sidebar-submenu {
    display: none;
    list-style: none;
    padding-right: 5px;
    margin: 0 1px;
    background: #FCFCFC;
}

.sidebar-menu-rtl .sidebar-submenu .sidebar-submenu {
    padding-right: 20px;
}

.sidebar-menu-rtl .sidebar-submenu>li>a {
    padding: 5px 15px 5px 5px;
    display: block;
    font-size: 14px;
}

.sidebar-menu-rtl .sidebar-submenu>li>a>.fa {
    width: 20px;
}

.sidebar-menu-rtl .sidebar-submenu>li>a>.fa-angle-left,
.sidebar-menu-rtl .sidebar-submenu>li>a>.fa-angle-down {
    width: auto;
}